*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  padding: 20px;
}
body > input {
  margin-right: 10px;
}
.agreement {
  text-align: left;
  display: grid;
  grid-template-columns: 20px 1fr;
  margin-bottom: 16px;
}
.agreement label {
  padding-left: 10px;
}
.agreement input {
  transform: scale(1.6);
  align-self: center;
}
